
// Colores para el modo dark
$primary-color: #949AA6;
$secondary-color: #D2D5D9;
$accent-color: #204359;

// Actualiza los colores de las pestañas
$tabs-background: #325A73;
$tabs-text-color: #D2D5D9;
$tabs-active-background: #949AA6;
$tabs-active-text-color: #D2D5D9;

// Actualiza los colores de los inputs
$input-background: #325A73;
$input-text-color: #D2D5D9;
$input-placeholder-color: #D2D5D9;
$input-border-color: #949AA6;

// Actualiza los colores de las tarjetas
$card-background: #325A73;
$card-text-color: #D2D5D9;

// Actualiza los colores de la barra de navegación
$navbar-background: #325A73;
$navbar-text-color: #D2D5D9;
$navbar-burger-color: #D2D5D9;

// Actualiza los colores de los mensajes
$message-background: #325A73;
$message-text-color: #D2D5D9;

// Actualiza los colores de los modales
$modal-background: #325A73;
$modal-text-color: #D2D5D9;

// Otros estilos personalizados para el dark mode
// ...
